# Stripe
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Proxmox (VPS provisioning)
PROXMOX_URL=https://10.5.1.236:8006
PROXMOX_TOKEN=root@pam!edgeiq=20c1ec52-3728-4bf9-8213-5ce349ac9b31
PROXMOX_NODE=pve
PROXMOX_STORAGE=tank

# CyberPanel (Web hosting provisioning)
CYBERPANEL_URL=https://10.10.0.50:8090
CYBERPANEL_USER=admin
CYBERPANEL_PASS=changeme

# Pterodactyl (Game/Bot provisioning)
PTERODACTYL_API_KEY=
PTERODACTYL_URL=http://10.18.157.124:80

# Email (Resend)
RESEND_API_KEY=re_xxx

# General
PANEL_URL=https://panel.edgeiqlabs.com
SERVER_IP=100.33.233.11
PORT=3001
